<?xml version="1.0" encoding="UTF-8"?>
<plugin>

     <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Tomcat"
            visible="true"
            id="net_sf_mongrel_actionSet">
         <menu
               label="%menu.label"
               id="net.sf.mongrel.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               label="%menu.restart.label"
               icon="icons/restart.gif"
               tooltip="%menu.restart.label"
               class="net.sf.mongrel.actions.RestartActionDelegate"
               menubarPath="net.sf.mongrel.menu/group"
               toolbarPath="Normal/additions"
               id="net.sf.mongrel.restart">
         </action>
         <action
               label="%menu.stop.label"
               icon="icons/stop.gif"
               tooltip="%menu.stop.label"
               class="net.sf.mongrel.actions.StopActionDelegate"
               menubarPath="net.sf.mongrel.menu/group"
               toolbarPath="Normal/additions"
               id="net.sf.mongrel.stop">
         </action>
         <action
               label="%menu.start.label"
               icon="icons/start.gif"
               tooltip="%menu.start.label"
               class="net.sf.mongrel.actions.StartActionDelegate"
               menubarPath="net.sf.mongrel.menu/group"
               toolbarPath="Normal/additions"
               id="net.sf.mongrel.start">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Mongrel"
            class="net.sf.mongrel.TomcatPreferencePage"
            id="net.sf.mongrel.Page1">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%pref.menu.jvmSettings.label"
            category="net.sf.mongrel.Page1"
            class="net.sf.mongrel.TomcatJVMPreferencePage"
            id="net.sf.mongrel.Page2">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%pref.menu.sourcepath.label"
            category="net.sf.mongrel.Page1"
            class="net.sf.mongrel.TomcatSourcePathPreferencePage"
            id="net.sf.mongrel.Page3">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%pref.menu.managerapp.label"
            category="net.sf.mongrel.Page1"
            class="net.sf.mongrel.TomcatManagerAppPreferencePage"
            id="net.sf.mongrel.Page4">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%pref.menu.advanced.label"
            category="net.sf.mongrel.Page1"
            class="net.sf.mongrel.AdvancedPreferencePage"
            id="net.sf.mongrel.Page5">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%wizard.newTomcatProject.label"
            icon="icons/newwar_wiz.gif"
            category="org.eclipse.jdt.ui.java"
            class="net.sf.mongrel.TomcatProjectCreationWizard"
            project="true"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="net.sf.mongrel.TomcatProjectCreationWizard">
         <description>
            %wizard.newJavaProject.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="Tomcat"
            class="net.sf.mongrel.TomcatProjectPropertyPage"
            id="net.sf.mongrel.TomcatProjectPropertyPage">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="net.sf.mongrel.action.popup.javaProject">
         <filter
               name="projectNature"
               value="net.sf.mongrel.tomcatnature">
         </filter>
         <menu
               label="%menu.nature.label"
               path="additions"
               id="net.sf.mongrel.action.popup.javaProject.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               label="%menu.nature.createWork.label"
               class="net.sf.mongrel.actions.CreateJSPWorkDirectoryActionDelegate"
               menubarPath="net.sf.mongrel.action.popup.javaProject.menu/group"
               id="net.sf.mongrel.actions.createJspWorkDirectory">
         </action>
         <action
               label="%menu.nature.addTomcatJar.label"
               class="net.sf.mongrel.actions.AddTomcatJarActionDelegate"
               menubarPath="net.sf.mongrel.action.popup.javaProject.menu/group"
               id="net.sf.mongrel.addTomcatJarToProject">
         </action>
         <action
               label="%menu.nature.updateContext.label"
               class="net.sf.mongrel.actions.UpdateTomcatContextActionDelegate"
               menubarPath="net.sf.mongrel.action.popup.javaProject.menu/group"
               id="net.sf.mongrel.updateContextToServerXml">
         </action>
         <action
               label="%menu.nature.removeContext.label"
               class="net.sf.mongrel.actions.RemoveTomcatContextActionDelegate"
               menubarPath="net.sf.mongrel.action.popup.javaProject.menu/group"
               id="net.sf.mongrel.removeContextToServerXml">
         </action>
         <action
               label="%menu.nature.exportToWar.label"
               class="net.sf.mongrel.actions.ExportToWarActionDelegate"
               menubarPath="net.sf.mongrel.action.popup.javaProject.menu/group"
               id="net.sf.mongrel.exportToWar">
         </action>
         <action
               label="%menu.nature.restartContext.label"
               class="net.sf.mongrel.actions.RestartContextActionDelegate"
               menubarPath="net.sf.mongrel.action.popup.javaProject.menu/group"
               id="net.sf.mongrel.actions.restartContext">
         </action>
      </objectContribution>
   </extension>
<!-- =========================================================================== -->
<!-- Tomcat Nature                                                                 -->
<!-- =========================================================================== -->
   <extension
         id="tomcatnature"
         name="Tomcat Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.sf.mongrel.TomcatProject">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sf.mongrel.PreferenceInitializer"/>
   </extension>

</plugin>
